$white: #ffffff;

:root {
  --bodyBgColor: $white;
}

body {
  background-color: var(--bodyBgColor);
  margin: 0;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app_content {
  position: relative;
  height: 100vh;
  scale: 0.85;
}
